h1 {
    color: purple ;  
}

img {
width: 400px ;
}

#thirdDiv {
    width: 500px;
    height: 800px ;
    background-color: rebeccapurple;
    padding: 50px ; 
    border: 10px solid skyblue ;
}
#spanId {
font-size: 18px ;
margin:  50px ; 
}